<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Hangman Web</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' href='assets/styleHome.css'>
    <link rel="icon" type="image/png" href="/assets/logo page.png" />
</head>

<body>
    <!--texte & bouton -->
    <div class="center-text">
        <h1>Hangman Web</h1>
    </div>
    <div class="center-btn" align="center">
        <a href="/hangman"><button>Play</button></a>
    </div>
    <div class="header-home">
        <div class="logo">
            <a target="_blank"><img src="/assets/logo page.png" alt="Image" height="100" width="100"></a>
        </div>
    </div>

    <!--formulaire-->
    <div class="forms">
        <form action="/form" method="post" name="form1">
            <input type="text" name="chooseDifficulty" placeholder="Choose a difficulty" autofocus>
        </form>

        <form action="/form" method="post" name="form2">
            <input type="text" name="chooseLanguage" placeholder="Choose a language" autofocus>
        </form>
    </div>
    <!--FOOTER-->
    <footer>
        <p>Créée et designé par Evan Matias (Richard)</p>
    </footer>
</body>

</html>