<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Hangman Web</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' href="assets/styleLoose.css">
    <link rel="icon" type="image/png" href="/assets/logo page.png" />
</head>

<body>
    <div class="center">
        <h2>Dommage vous avez pas touver le mot : {{.ToFind}}</h2>
    </div>
    <div class="retry" align="center">
        <a href="/home"><button>Retry</button></a>
    </div>
    <header class="header-logo">
        <div class="logo">
            <a target="_blank"><img src="/assets/logo page.png" alt="Image" height="100" width="100"></a>
        </div>
    </header>
</body>

</html>