<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/styleWin.css">
    <title>Hangman Web</title>
    <link rel="icon" type="image/png" href="/assets/logo page.png" />
</head>

<body>
    <div class="center">
        <h2>Bravo vous avez trouver le mot : {{.ToFind}}</h2>
    </div>
    <header class="header-logo">
        <div class="logo">
            <a target="_blank"><img src="/assets/logo page.png" alt="Image" height="100" width="100"></a>
        </div>
        <div class="retry" align="center">
            <a href="/home"><button>Retry</button></a>
        </div>
    </header>
</body>

</html>